<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>node_blog_default</title>
  </head>
  <body>
    Hello World!
    <p/>
    <h1>Count: <%= count%> Welcome</h1>
    <p/>
    <button id="button" type="button" name="button">버튼</button>
  </body>
</html>
